.hero-container{
    position: relative;
}
.hero-text{
    position: relative;
    z-index: 100;
}
.hero-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}